<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keygenqt.tvgram">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tvgram">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.keygenqt.tvgram.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.keygenqt.tvgram.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.temp.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.temp.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.temp.BrowseErrorActivity"
            android:exported="false" />

    </application>

</manifest>